/* Write your code here */
* {
  font-family: 'roboto';
}
.bgContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviewCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.information {
  text-align: center;
  padding: 15px;
}
.heading {
  color: #ffffff;
  font-size: 35px;
}
.button {
  background-color: transparent;
  border-style: none;
}
.heading-2 {
  color: #ffffff;
  font-size: 20px;
}
@media (max-width: 767px) {
  .card {
    width: 80vw;
  }
}
@media (min-width: 768px) {
  .card {
    width: 60vw;
  }
}
